:root {
    background-color: rgb(216, 212, 212);
    overflow-y: hidden;
  }

.layout {
  display: flex;
  flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 5%;
    margin-right: 20%;
}

.gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    width: 100%;
    height: auto;
    background-color: rgb(240, 241, 240);
    margin-top: 3%;
    margin-left: 13%;
    padding: 10px 8px;
    text-align: left;
    border-radius: 5px;
}

/*Create Post Page*/
.create-area  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    width: 80%;
    background-color: rgb(151, 188, 162);
}


.create-area input {
    position: relative; 
    display: block;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
    border: solid white;
    border-radius: 5px;
}

.create-area textarea {
    resize: none;
    margin-bottom: 5%;
}
.flag-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%
}

#form-submit{
 width: auto;
 padding: 10px 8px;
 background-color: rgb(33, 165, 99);
 color: white;
 border: solid rgb(33, 165, 99);
 font-weight: bold;
}

#form-submit:hover {
    background-color: rgb(23, 107, 65);
}

/*End Create Post Page*/

/* Filters */
.filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: fixed;
    width: 100%;
    height: 10%;
}

.filter-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-style: italic;
    width: 25%;
    margin-right: 5%;
}

.filter-item button {
    border-radius: 5px;
    height: 40px;
    color: white;
    font-weight: bold;
    padding: 10px 6px;
    margin-left: 3%;
    margin-top: 3%;

}

.filter-released {
    background-color: rgb(33, 165, 99);
    border-color: rgb(33, 165, 99);
}

.filter-selected {
    background-color: rgb(37, 120, 78);
    border-color: rgb(37, 120, 78) ;
}
/* End Filters */

/* Navbar */
.navbar {
    height: 10%;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgb(16, 165, 91); 
    overflow-x: hidden; 
}

.searchArea {
    height: 30px;
    width: 30%;
    margin-top: 20px;
}

.navLinks {
    display: flex;
    width: 12%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

.navLinks a {
    text-decoration: none;
    font-weight: bolder;
    padding-right: 1%;
    font-size: 15px;
    color: #d1d3d3;
    display: block;
}

.navLinks a:hover {
    color: orange;
}

.navbar h1 {
    color: white;
    padding-left: 2%;
}
/* End Navbar */

